<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deine Lottozahlen</title>
</head>
<body>
    <h1>Deine generierten Lottozahlen:</h1>
    <ul>
        {% for number in numbers %} 
        <li style="font-size: 24px;">{{ number }}</li>
        {% endfor %}
    </ul>
    <h2>Superzahl: <span style="color: red;">{{ superzahl }}</span></h2> 
    <a href="/" style="font-size: 20px; color: green;">Zurück zur Startseite</a>
</body>
</html>